.book-card {
    background: #fff;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
    max-width: 90%;
    width: 700px;
    position: relative;
    margin: 0 auto;
}

.book-card:hover {
    transform: translateY(-5px);
}

.book-card img {
    width: 100%;
    max-width: 140px;
    height: auto;
    object-fit: cover;
    margin-bottom: 12px;
    border-radius: 8px;
}

.book-card h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.book-card p {
    font-size: 16px;
    color: #666;
}

.heart-icon {
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s, transform 0.2s;
}

.heart-icon.favorite {
    color: red;
}

.heart-icon:hover {
    transform: scale(1.2);
}
.loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #7a5c48; /* Brown color */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Responsive Design */
@media (max-width: 768px) {
    .book-card {
        width: 100%;
        padding: 15px;
    }
    
    .book-card img {
        max-width: 100px;
        height: auto;
    }
    
    .book-card h3 {
        font-size: 16px;
    }
    
    .book-card p {
        font-size: 14px;
    }
}
